RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

ErrorDocument 403 "Acesso negado!"
ErrorDocument 404 "Acesso negado!"
ErrorDocument 500 "ERRO FATAL!"